@model Poller.Common.ViewModels.PollViewModel

@{
    ViewBag.Title = "Create poll";
}

@Html.BeginForm("CreatePoll", "Poll", FormMethod.Post, new { @class = "form-horizontal", role = "form" })
{
@Html.AntiForgeryToken()
<div class="form-group">
    @Html.LabelFor(m => m., new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>
}