@{
    ViewBag.Title = "Poller Home";
}

<div class="jumbotron">
    <p class="lead">Create and track your own serveys, test, exams etc.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Top tests</h2>
    </div>
    <div class="col-md-6">
        <h2>Top polls</h2>
    </div>
</div>